body {
  margin: 0;
  background-image: url("../images/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-link, .navbar-brand{
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font{
  color: rgb(1, 1, 1);
  font-family: 'Montserrat', sans-serif;
  background-image:linear-gradient(120deg,rgb(5, 98, 56),rgb(118, 192, 124));
  padding: 30px;
}
.hai{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: green;
  image-rendering: crisp-edges;
  text-align: justify;
  text-shadow: 3px;

}
.good{
  color: rgb(1, 1, 1);
  font-family: 'Montserrat', sans-serif;
  background-image:linear-gradient(120deg,rgb(5, 98, 56),rgb(118, 192, 124));
  padding: 5px;

}


